<ion-header [translucent]="true">
  <ion-toolbar style="--background: #FFB6C1;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <ion-title style="color: #696767; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
        Perfil
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" style="background-color: #f9f9f9;">
  <ion-card style="background-color: #ffffff;">
    <div style="text-align: center;">
      <img src="assets/img/perfil.png" 
           alt="Imagen de perfil del usuario" 
           style="width: 80px; height: 90px; border-radius: 50%; margin-bottom: 10px; object-fit: cover;">
    </div>
    
    <ion-card-header>
      <ion-card-title style="text-align: center; color: #696767;">
        <span style="font-size: 24px;">{{ persona.categoria }}</span>,
        <span style="color: #f062d3; font-size: 24px;">{{ persona.nombre }}</span>!
      </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <div style="display: flex; align-items: center; margin-bottom: 20px; justify-content: center;">
        <ion-input 
          [(ngModel)]="biografia" 
          placeholder="Escribe tu biografía aquí..." 
          (keyup.enter)="saveBio()" 
          [readonly]="!isEditing"
          (click)="isEditing = true" 
          style="flex-grow: 1; margin-right: 10px; 
                 background-color: #f5f5f5; 
                 border-radius: 8px; 
                 padding: 10px; 
                 text-align: center; 
                 --border-color: #FFB6C1; /* Cambia el color del borde a rosa */
                 --highlight-color: #FFB6C1; /* Cambia el color de la línea de enfoque a rosa */
                 --color: #696767; /* Cambia el color del texto a gris */
                 ">
        </ion-input>
        <ion-icon name="pencil-outline" 
                  (click)="toggleEdit()" 
                  style="cursor: pointer; color: #f062d3; font-size: 20px;">
        </ion-icon>
      </div>
      <p *ngIf="!isEditing && biografia.trim() === ''" style="text-align: center; color: gray; margin-top: 10px; font-style: italic;">
        Breve biografía del usuario o información adicional aquí.
      </p>
      <p *ngIf="!isEditing && biografia.trim() !== ''" style="text-align: center; color: #696767; margin-top: 10px;">
        {{ biografia }}
      </p>
    </ion-card-content>
  </ion-card>
  
  <div style="padding: 16px;">
    <form (ngSubmit)="addComment()">
      <ion-item>
        <ion-label position="floating">Comparte tu Experiencia</ion-label>
        <ion-input [(ngModel)]="nuevoComentario" name="comentario" required></ion-input>
      </ion-item>
      <ion-button expand="full" type="submit">Enviar</ion-button>
    </form>
   
    <ion-list style="margin-top: 16px;">
      <ion-item *ngFor="let comentario of comentarios">
        <ion-label>{{ comentario }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-list>
    <ion-item routerLink="/mis-viajes" detail="true">
      <ion-icon name="car-sport-outline" slot="start" style="color: #FFB6C1;"></ion-icon>
      <span style="font-size: 1rem; color: #696767;">Mis Viajes</span>
    </ion-item>
    <ion-item routerLink="/contacto" detail="true">
      <ion-icon name="mail-outline" slot="start" style="color: #FFB6C1;"></ion-icon>
      <span style="font-size: 1rem; color: #696767;">Contacto</span>
    </ion-item>
    <ion-item routerLink="/ayuda" detail="true">
      <ion-icon name="help-circle-outline" slot="start" style="color: #FFB6C1;"></ion-icon>
      <span style="font-size: 1rem; color: #696767;">Ayuda</span>
    </ion-item>
    <ion-item expand="block" routerLink="/login" style="color: #FFB600; margin-top: 20px;">
      <span style="font-size: 1rem; color: #FFB6C1;">Cerrar sesión</span>
    </ion-item>
  </ion-list>
</ion-content>




