// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-background-color: #ffffff; 
    --ion-color-primary: #eda1adfa;    
    --ion-color-secondary: #D3D3D3;  
    --ion-color-tertiary: #A9A9A9;   
    
    
  }