<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar style="--background: #FFB6C1;">
      <ion-title>Menú inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item expand="block" routerLink="/mis-viajes">Mis Viajes</ion-item>
      <ion-item expand="block" routerLink="/contacto">Contacto</ion-item>
      <ion-item (click)="logout()" expand="block" style="color: #FFB600; margin-top: 20px;">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content" >
  <ion-header>
    <ion-toolbar style="--background: #FFB6C1;">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="font-size: 14px;">
        Bienvenido {{persona.nombre}} a NyanViajes! <ion-icon  name="logo-octocat" ></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

    
  <div id="map_html"></div>
  
  <ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/viajes">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button *ngIf="persona.categoria=='Administrador'" routerLink="/administrar">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLink="/perfil">
        <ion-icon name="person-sharp"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
</div>