<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar style="--background: #FFB6C1;">
      <ion-title>Menú inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item expand="block" routerLink="/mis-viajes">Mis Viajes</ion-item>
      <ion-item expand="block" routerLink="/contacto">Contacto</ion-item>
      <ion-item (click)="logout()" expand="block" style="color: #FFB600; margin-top: 20px;">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        NyanViajes! <ion-icon name="logo-octocat"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" style="background-color: #f9f9f9;">
    <ion-card>
      <ion-card-content>
        <h2 style="text-align: center; color: #696767; font-size: 2.5rem;">
          Bienvenido a NyanViajes
        </h2>
        <p style="text-align: center; font-size: 1.2rem;">
          La aplicación de viajes para alumnos de <span style="color: #FFB600;">Duoc</span>UC
        </p>
        <ion-searchbar animated="true" placeholder="¿Dónde Viajas?" style="margin-bottom: 20px;"></ion-searchbar>
        <ion-img src="assets/img/maps.png" alt="Descripción de la imagen" style="display: block; margin: 0 auto;"></ion-img>
      </ion-card-content>
    </ion-card>

    <br>
  </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/viajes">
        <ion-icon name="car-sport-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button *ngIf="persona.categoria=='Administrador'" routerLink="/administrar">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button routerLink="/perfil">
        <ion-icon name="person-sharp"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


  
</div>



