<ion-header>
  <ion-toolbar style="--background: #FFB6C1;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <ion-title>Recuperar cuenta</ion-title>
      <ion-button fill="clear" size="large" routerLink="/login"><ion-icon style="color: #696767;" name="arrow-forward-circle-outline"></ion-icon></ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="email" type="email" label="Ingrese correo registrado" labelPlacement="floating" placeholder="Miau@gmail.com"></ion-input>
  </ion-item>
  <ion-button (click)="recuperar()" size="block" color="success">RECUPERAR</ion-button> 
</ion-content>