<ion-header [translucent]="true">
  <ion-toolbar style="--background: #FFB6C1;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <ion-title style="color: #696767; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
        Viajes Disponibles
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let v of viajes">
    <ion-item>
      <ion-label>
        <strong>{{v.destino}}</strong><br>
        <ion-note>ID del Viaje: {{v.id_viaje}}</ion-note><br>
        <ion-note>Asientos disponibles: {{v.capa_disp}}</ion-note><br>
        <ion-note>Hora de Salida: {{v.hora_salida}}</ion-note><br>
        <ion-note>Precio (CL): {{v.valor | currency}}</ion-note><br>
        <ion-note>Precio (USD): {{ v.valorDolar | currency}}</ion-note><br>
        <ion-note>Valor Dolar: {{dolar}}</ion-note><br>
      </ion-label>
      <ion-button [routerLink]="['/detalle-viaje', v.id_viaje]" size="default">Detalle</ion-button>
    </ion-item>
  </ion-card>


<ion-button *ngIf="persona.tiene_auto == 'Si'" shape="round" class="btn-add" routerLink="/registrar-viaje">
  <ion-icon name="add-circle-outline"></ion-icon>
</ion-button>
</ion-content>

<style>
  
</style>