<ion-header [translucent]="true">
  <ion-toolbar style="--background: #FFB6C1;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <ion-title style="color: #696767; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
        Viajes Disponibles
      </ion-title>
      <ion-button fill="clear" size="large" routerLink="/home">
        <ion-icon style="color: #696767;" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar style="--background: #FFB6C1;">
      <ion-title size="large" style="color: #000000; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 600;">
        Viajes Disponibles
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Viaje 1 -->
  <ion-card>
    <img alt="Viaje a Maipú" src="assets/img/auto1.jpg" />
    <ion-card-header>
      <ion-card-title>Viaje a Maipú</ion-card-title>
      <ion-card-subtitle>Conductor: Juan Pérez - Valor: $2.500</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      El viaje parte desde DuocUC Sede Plaza Puente Alto a las 19:00 hrs. Espacio para 3 pasajeros.
      <br><strong>Vehículo:</strong> Toyota Yaris, color blanco, Patente 4D98c.
      <br><strong>Contacto:</strong> juan.perez&#64;duocuc.cl
    </ion-card-content>
    <ion-button expand="block" style="background-color: #FFB6C1; color: #000000;">Tomar viaje</ion-button>
  </ion-card>

  <!-- Viaje 2 -->
  <ion-card>
    <img alt="Viaje a La Florida" src="assets/img/auto2.jpg" />
    <ion-card-header>
      <ion-card-title>Viaje a La Florida</ion-card-title>
      <ion-card-subtitle>Conductor: María González - Valor: $3.000</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      El viaje parte desde DuocUC Sede San Joaquín a las 18:30 hrs. Espacio para 4 pasajeros, Patente 7Djl9.
      <br><strong>Vehículo:</strong> Kia Rio, color gris.
      <br><strong>Contacto:</strong> maria.gonzalez&#64;duocuc.cl
    </ion-card-content>
    <ion-button expand="block" style="background-color: #FFB6C1; color: #000000;">Tomar viaje</ion-button>
  </ion-card>

  <!-- Viaje 3 -->
  <ion-card>
    <img alt="Viaje a Puente Alto" src="assets/img/auto3.jpeg" />
    <ion-card-header>
      <ion-card-title>Viaje a Puente Alto</ion-card-title>
      <ion-card-subtitle>Conductor: Pedro Rojas - Valor: $2.800</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      El viaje parte desde DuocUC Sede Alameda a las 20:00 hrs. Espacio para 2 pasajeros.
      <br><strong>Vehículo:</strong> Nissan March, color azul, Patente 00kJDF.
      <br><strong>Contacto:</strong> pedro.rojas&#64;duocuc.cl
    </ion-card-content>
    <ion-button expand="block" style="background-color: #FFB6C1; color: #000000;">Tomar viaje</ion-button>
  </ion-card>

  <!-- Viaje 4 -->
  <ion-card>
    <img alt="Viaje a Quilicura" src="assets/img/auto4.png" />
    <ion-card-header>
      <ion-card-title>Viaje a Quilicura</ion-card-title>
      <ion-card-subtitle>Conductor: Camila Torres - Valor: $3.200</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      El viaje parte desde DuocUC Sede Vespucio a las 18:45 hrs. Espacio para 5 pasajeros.
      <br><strong>Vehículo:</strong> Chevrolet Spark, color rojo, Patente 4D98c.
      <br><strong>Contacto:</strong> camila.torres&#64;duocuc.cl
    </ion-card-content>
    <ion-button expand="block" style="background-color: #FFB6C1; color: #000000;">Tomar viaje</ion-button>
  </ion-card>

</ion-content>

